.debug{
    padding: 20px;
}
.debug-visible{
    background-color: red;
    border: 1px solid black; 
}
header{
    background-color: #2c3e50;
}
.mc-color{
    filter: invert(1);
    border: 1px solid black;
}

/* SEZIONE HERO  */


.mc-hero-section,
.mc-about{
    background-color: #1abc9c;
}
.mc-hero-section img{
    width: 200px;
    height: 215px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
.mc-ul-row{
    flex-direction: row;
    flex-wrap: nowrap;
}
.mc-hero-section .star::after,
.mc-hero-section .star::before{
    content: "";
    display: inline-block;
    width: 10%;
    background-color: white;
    height: 3px;
    margin: 4px;
}
.mc-hero-section .mc-line::after,
.mc-hero-section .mc-line::before{
    content: '';
    background-color: white;
    display: inline-block;
    width: 10px;
    height: 2px;
    margin: 4px;
}
 /* SECTION PORTFOLIO  */

.mc-portfolio .star::after,
.mc-portfolio .star::before{
    content: "";
    display: inline-block;
    width: 10%;
    background-color: #2c3e50;
    height: 3px;
    margin: 4px;
}
.mc-portfolio img{
    width: 100%;
    border-radius: 20px;
}
.mc-copyright{
    background-color: #2c3e50;
}
.container{
    margin: 0 auto;
}
.mc-container-sm{
    max-width: 70%;
}
footer{
    background-color: #3a546d;
}